@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table style="margin-top:130px;">
    <tr>
        <td>
            sdsadas
        </td>
        <td>
            <form action="Upload" method="post" enctype="multipart/form-data">

                <label for="file">Filename:</label>
                <input type="file" name="file" id="file" />

                <input type="submit" />
            </form>
        </td>
    </tr>
</table>