@model IEnumerable<WebApplication1.Models.PNLViewModel>

@{
    ViewBag.Title = "View";
}

<div class="row">
    <div class="col-lg-12 text-left">
        <h4>passaengers list </h4>

    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-12">


        <ul class="list-unstyled">
            @foreach (var pnls in Model)
            {

                <li class="">
                    <b>   @Html.Encode(pnls.booking)</b>
                    <ul>
                        @foreach (var pnl in pnls.PNL)
                        {
                            <li style="color:black">
                                @Html.Encode(pnl.name)
                            </li>   }
                    </ul>
                </li>
            }

        </ul>

    </div>
</div>

